page-assess {
	
	.button{
		div{
			min-height: 120px;
			overflow: hidden;
		}
		
		overflow: hidden;
		min-height: 150px;
		padding: 20px;
		border-width: 2px;
		p{
			text-transform: none;
			font-size:14px;
		}
		.icon{
			font-size: 46px;
		}
	}

	.button.attempted{
		border-color: #017AF2;
	}
	
}
