<!--
  Generated template for the AssessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Assess</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div id="prepare" class="d-flex align-items-center full-screen">
	    <div class="container-fluid col-md-4 p-2" text-center>
	    	<div class="page-header-wrapper">
	    		<h1 class="font-weight-bold">
	    		    Assess Yourself.
	    		</h1>
	    		<p>
	    			Take assessment quizes below to know if you're disaster-ready.
	    		</p>
	    	</div>
	    	<button ion-button outline block color="dark" (click)="goToQuizzesPage(2)" text-wrap [ngClass] ="{'attempted': fireScore}">
	    		<div>
	    			<ion-icon name="flame"></ion-icon><br>
	    			<label class="font-weight-bold">Fire Quiz:</label>
						<p>Quiz about the essentials for fire outbreaks.</p>
						<span class="font-weight-bold" *ngIf="fireScore">Latest Score: {{fireScore | number:'1.1-2'}}%</span>
						
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" (click)="goToQuizzesPage(4)" text-wrap [ngClass] ="{'attempted': tyScore}">
	    		<div text-wrap>
	    			<ion-icon name="alert"></ion-icon><br>
	    			<label class="font-weight-bold">Typhoon Quiz:</label>
						<p>Quiz about the essentials for when typhoon strikes.</p>
						<span class="font-weight-bold" *ngIf="tyScore">Latest Score: {{tyScore | number:'1.1-2'}}%</span>
	    		</div>
	    	</button>
	    	<button ion-button outline block color="dark" (click)="goToQuizzesPage(1)" text-wrap [ngClass] ="{'attempted': eqScore}">
	    		<div>
	    			<ion-icon name="alert"></ion-icon><br>
	    			<label class="font-weight-bold">Earhquake Quiz:</label>
						<p>Quiz about the essentials when earhquake shakes your area.</p>
						<span class="font-weight-bold" *ngIf="eqScore">Latest Score: {{eqScore | number:'1.1-2'}}%</span>
	    		</div>
	    	</button>
	    </div>
	</div>
</ion-content>
